*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71a5de;
}

input, button{
    background-color: #aecbeb;
}

img{
    height: 30px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #83b0e1;
    border: 1px solid #405D72;
    border-radius: 5px;
}
.slug{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar{
    border: 2px solid #405D72;
    border-radius: 5px;
    width: fit-content;
}

#title{
    margin: auto auto;
    font-weight: 800;
}

#slug-text{
    text-transform: capitalize;
}